/.idea/shelf/Uncommitted_changes_before_Update_at_08_05_2023_11_53_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_08_05_2023_11_53__Changes_.xml
modeling/__pycache__/simul_tools.cpython-38.pyc